</head>
<body>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medarbejder lounge - Eksamen webside</title>
    <link rel="stylesheet" href="/MedarbejderStyles.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="/static"><img src="/Pictures/newlogo.png" alt=""></a>
        <div class="nav-links" id="navLinks">
            <li><a href="/">HOME</a></li>

        </div>
</section>
<div class="container">
    <h2>Vaelge Din Opgave </h2>
    <div class="price-row">
        <div class="price-col">
            <p>Management</p>
            <h3>Data <span>/ Aftaler</span></h3>
            <ul>
                <li>registrer kunder</li>
                <li>Tjekke Bogholderi</li>
                <li>Tjekke Email </li>
                <li>Update Lejeaftaler</li>
                <li>Godkente Data</li>
                <li> Support</li>
            </ul>
            <a href="/RegistrerLejeAftale" class="hero-btn"><button>Admin Login</button></a>
        </div>