<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage - Eksamen webside</title>
    <link rel="stylesheet" href="/MedarbejderStyles.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="Header.html">
</header>

<div class="container">
    <h2>Vaelge Din Opgave </h2>
    <div class="price-row">
        <div class="price-col">
            <p>Management</p>
            <h3>Data <span>/ Aftaler</span></h3>
            <ul>
                <li>registrer kunder</li>
                <li>Tjekke Bogholderi</li>
                <li>Tjekke Email </li>
                <li>Update Lejeaftaler</li>
                <li>Godkendte Data</li>
                <li> Support</li>
            </ul>

            <a class="hero-btn red-btn" href="/Admin/RegistrerAftale" style="font-size: 25px">Registrer Lejeaftaler</a>

        </div>
    </div>
</div>

<footer th:insert="Footer.html">
</footer>

</body>
</html>