<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drop-down Profile Menu - Eksamens Projekt</title>
    <link rel="stylesheet" href="/MedarbejderStyles2.css">
</head>
<body>
<div class="hero">
    <nav>
        <a href="/HjemvendteBiler"><img src="/Pictures/newlogo.png" alt=""></a>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/Admin">Admin</a></li>
            <li><a href="/udvikler">Udvikler</a></li>
            <li><a href="/Værksted">Vaerksted</a></li>
        </ul>
        <a href="/HjemvendteBiler"><img src="/Pictures/trustpilot2.png" alt="" class="user-pic"
                    onclick="toggleMenu()"></a>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <a href="/HjemvendteBiler"><img src="/Pictures/trustpilot2.png" alt="" class="user-pic"></a>
                    <h3>Martin</h3>
                </div>
                <hr>

                <a href="/HjemvendteBiler" class="sub-menu-link">
                    <a href="/HjemvendteBiler"><img src="/Pictures/profil.png" alt="" class="user-pic"></a>
                    <p>HjemmevendteBiler</p>
                    <span></span>
                </a>
                <a href="/AddSkade" class="sub-menu-link">
                    <a href="/HjemvendteBiler"><img src="/Pictures/setting.png" alt="" class="user-pic"></a>
                    <p>Add Skader & priser</p>
                    <span></span>
                </a>
                <a href="/RegistrerNyRapport" class="sub-menu-link">
                    <a href="/HjemvendteBiler"><img src="/Pictures/help.png" alt="" class="user-pic"></a>
                    <p>RegistrerNySkade</p>
                    <span></span>
                </a>
                <a href="/FinishRapport" class="sub-menu-link">
                    <a href="/HjemvendteBiler"><img src="/Pictures/logout.png" alt="" class="user-pic"></a>
                    <p>FinishRapport</p>
                     <span></span>
                </a>

            </div>
        </div>

    </nav>
</div>


<script>
    let subMenu = document.getElementById("subMenu");

    function toggleMenu(){
        subMenu.classList.toggle("open-menu");
    }

</script>

</body>
</html>