<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Homepage - Eksamen webside</title>
  <style>
    table, th, td {
      border:1px solid black;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
      border-color: #f44336;
    }
  </style>
</head>

<body>
<header th:insert="Header.html">
</header>

<h2>Data Oversigt</h2>

<table style="width:100%">

  <tr>
    <th>BIler</th>
    <th>lejeFTle</th>
    <th>ddd</th>
    <th>ddd</th>
    <th>ddddd</th>
    <th>kkkjk</th>
    <th>lkko</th>
    <th>mmkk</th>
    <th>,mko</th>
  </tr>
  <tr>
    <td>dddd</td>
    <td>lkkm</td>
    <td>kmko</td>
    <td>mkkm</td>
    <td>kmk</td>
    <td>kkkj</td>
    <td>km</td>
    <td>kk</td>
    <td>kk</td>
  </tr>
  <tr>
    <td>lkk</td>
    <td>mm</td>
    <td>mm</td>
    <td>mmkl</td>
    <td>jkj</td>
    <td>pok</td>
    <td>kkj</td>
    <td>mn</td>
    <td>mkk</td>
  </tr>
</table>



</body>
</html>

