<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eksamens Projekt - Webside</title>
      <li><a href="/">HOME</a></li>
  <!DOCTYPE html>
  <style>
    table, th, td {
      border:1px solid black;
      border-collapse: collapse;
    }
    th, td {
      background-color: #96D4D4;
      border-color: #f44336;
    }
  </style>
<body>

<h2>Data Oversigt</h2>

<table style="width:100%">
  <tr>
    <th>BIler</th>
    <th>lejeFTle</th>
    <th>ddd</th>
    <th>ddd</th>
    <th>ddddd</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>dddd</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>



</body>
</html>

// tabellen ser som de er for ,der er ikke noget i ednu