<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage - Eksamen webside</title>
    <link rel="stylesheet" href="/MedarbejderStyles.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header th:insert="Header.html">
</header>
<body>
<div class="container">
    <h2>Velkomme</h2>
    <div class="price-row">
        <div class="price-col">
            <p>Bilabonnement A/S</p>
            <h3>Udvikler <span>/ Data oversigt</span></h3>
            <ul>
                <li>Check Data</li>
                <li>Oversigt over biler</li>
                <li>Check Email </li>
                <li>Oversigt over udvikling</li>
            </ul>
            <a class="hero-btn red-btn" href="/UdviklerOversigt" style="font-size: 25px">Oversigt</a>
        </div>

