<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medarbejder lounge - Eksamen webside</title>
    <link rel="stylesheet" href="/MedarbejderStyles.css">
</head>
<body>
<section class="header">
    <nav>
        <a href="/static"><img src="/Pictures/newlogo.png" alt=""></a>
        <div class="nav-links" id="navLinks">
            <li><a href="/">HOME</a></li>

        </div>
    </nav>
</section>

<div class="price-col">
    <p>Bilabonnement A/S</p>
    <h3>Vaerksted<span>/Skader</span></h3>
    <ul>
        <li>registrer ny Skader</li>
        <li>Check aflever Biler</li>

    </ul>
    <button>Start</button>
</div>
</body>
</html>