<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Manageent- Eksamens</title>
    <link rel="stylesheet" href="/MedarbejderStyles.css">
</head>
<a href="/static"><img src="/Pictures/newlogo.png" alt=""></a>
<div class="nav-links" id="navLinks">
    <li><a href="/">HOME</a></li>
    <body>
    <div class="container">
        <h2>Velkomme</h2>
        <div class="price-row">
            <div class="price-col">
                <p>Bilabonnement A/S</p>
                <h3>Mekaniker <span>/ Vaerksted</span></h3>
                <ul>
                    <li>Registrer Skader</li>
                    <li>Tilfoje extra omkosninger</li>
                    <li>Check Email </li>
                    <li>Oversigt over Bilsstatus</li>
                </ul>
                <a href="/" class="hero-btn"><button>vaerksted Login</button></a>
            </div>
